.recipe-preview-size {
  position: absolute;
  font-size: 1.7em;
  top: 0.8em;
  left: 0.8em;
  z-index: 9;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.recipeBox {
  position: relative;

  .grid-image::before {
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0em 0em 0em rgba(51, 51, 51, 0.15);
  }

  a:hover,
  a:focus {
    .grid-image,
    .grid-image {
      filter: opacity(0.95);

      &:before {
        box-shadow: inset 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s;
      }
    }
  }
}
