.day {
    width: 100%;
    float: left;
    border: 1px solid #F7FAFC;
    height: 100%;
    cursor: pointer;
  
    &.active-drop {
      background-color: #CBD5E0;
    }
  
    img {
      width: 100%;
      height: 100%;
    }
  
    @media (min-width: 40em) {
        width: calc(100% / 7);
    }
  
    .planner-day-display {
      font-size: 1.5em;
      text-align: center;
    }
  }

  .selected-day {
    @media (min-width: 40em) {
      background-color: #E2E8F0;
      border: 2px solid #E2E8F0;
      border-bottom: none;
    }
  }

  .small-selected-day a {
    display: inline-block;
    margin-top: 0.5em;
  }