.day-menu-item {
    user-select: none;
    cursor: grab;
    margin-bottom: 0.75em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.75em;
    width: 100%;
    border: 1px solid #E2E8F0;
  
    @media (min-width: 40em) {
      width: 50%;
      float: left;  
    }

    label {
      cursor: pointer;
    }
  
    input[type=checkbox] {
      margin-right: 0.5em;
    }
  
    &.is-dragging {
      border: 1px dashed black;
      padding: 0.85em;
    }
  }