.recipe-preview-size {
  position: absolute;
  font-size: 1.7em;
  top: 0.8em;
  left: 0.8em;
  z-index: 9;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.recipeBox {
  position: relative;
}

.recipeBox:hover img,
.recipeBox a:focus img {
  filter: opacity(0.85);
}

.close-button-recipe-overview {
  position: absolute;
  right: 1em;
  top: 3em;
}

.user-account-button {
  font-size: 1.5em;
}

.user-add-recipe {
  position: relative;
  top: -0.25em;
  font-size: 0.9em;
  margin-left: 0.75em;
}

.headers-side-icons {
  position: absolute;
  right: 1em;
}

.recipe-overview {
  position: relative;
}

.recipe-overview-previous {
  left: 1em;
}

.recipe-overview-next {
  right: 1em;
}

.recipe-overview-previous,
.recipe-overview-next {
  position: fixed;
  top: 50%;
  z-index: 10;
  display: none;

  @media (min-width: 85em) {
      display: block;

      &:after {
        width: 0%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
        border-radius: 0.5em;
        height: 100%;
        background-color: #E2E8F0;
        transition: width 0.08s linear 0s;
        content: '';
      }     

      &:hover,
      &:focus {
        &:after {
          width: 100%;
        }
      }
  }
}

li {
  margin-left: 1.2em;
}

/* todo: fix me with chakra global styles */

a {
  text-decoration: underline!important;
}

h3 {
  margin-top: 1em!important;
}

p {
  margin-bottom: 1em!important;
}