html, body, #root {
  height: 100%;
  background-color: #f5f5f5;
}

.recipe-preview-size {
  position: absolute;
  font-size: 1.7em;
  top: 0.8em;
  left: 0.8em;
  z-index: 9;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.recipeBox {
  position: relative;

  a:hover img,
  a:focus img {
    filter: opacity(0.85);
  }
}

.close-button-top-left {
  position: fixed;
  top: 1em;
  left: 2em;
  z-index: 200;
}

.actionsContainer {
  @media (max-width: 40em) {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
  }
}


.action-item {  
  font-size: 1.5em;
  height: 2em;
  width: 2em;

  @media (max-width: 40em) {
    display: block;
    margin-bottom: 0.5em;
    position: relative;
    background-color: white;
    border-radius: 3em;
    box-shadow: 1px 1px 3px #b3b3b3;
    align-content: center;
    justify-content: center;

    svg {
      align-self: center;
    }

    &:hover,
    &:focus {
      background-color: #E2E8F0;
    }
  }

  @media (min-width: 40em) {
    width: 2em;
  }
}

.actionsContainer {
  display: flex;
  @media (max-width: 40em) {
    flex-direction: column;
  }
}

.top-header {
  background-color: white;
  box-shadow: 1px 1px 3px #b3b3b3;
  padding: 0.5em;
  z-index: 100;
  position: relative;
}

.headers-side-icons {
  position: absolute;
  right: 1em;
}

.card-content {
  max-width: 80em;
  margin: auto;
  top: 2em;
  padding: 0.5em;
  position: relative;
  background-color: white;
  z-index: 0;
  box-shadow: 1px 1px 3px #b3b3b3;
  overflow: hidden;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .edit-ingredient-container {
    height: 2.5rem;
    position: relative;

    
    button {
      padding: 0;
      font-size: 0.8rem;
      height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
      border: 1px solid black;
      margin-right: 0.5rem;
      background-color: white;
    }
  }

  .box {
    margin-top: 1rem;
  }
}



.recipe-overview-previous {
  left: 0em;

  @media (min-width: 85em) {
    left: 1em;
  }
}

.recipe-overview-next {
  right: 0em;

  @media (min-width: 85em) {
    right: 1em;
  }
}

.recipe-overview-previous,
.recipe-overview-next {
  position: fixed;
  top: 50%;
  z-index: 10;
  display: none;

  &.showTap {
    display: block;
  }

  @media (min-width: 85em) {
      display: block;

      &:after {
        width: 0%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
        border-radius: 0.5em;
        height: 100%;
        background-color: #E2E8F0;
        transition: width 0.08s linear 0s;
        content: '';
      }     

      &:hover,
      &:focus {
        &:after {
          width: 100%;
        }
      }
  }
}

li {
  margin-left: 1.2em;
}

.week {
  clear: both;
}

.small-selected-day a {
  display: inline-block;
  margin-top: 0.5em;
}

.menu-selected-day {
  clear: both;
  background-color: #EDF2F7;
  padding: 1em;
  border: 2px solid #E2E8F0;

  a {
    display: inline-block;
    margin-top: 0.5em;
  }
}

.day {
  width: 100%;
  float: left;
  border: 1px solid #F7FAFC;
  height: 100%;
  cursor: pointer;

  &.active-drop {
    background-color: #CBD5E0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 40em) {
      width: calc(100% / 7);
  }

  .planner-day-display {
    font-size: 1.5em;
    text-align: center;
  }
}

.selected-day {
  @media (min-width: 40em) {
    background-color: #E2E8F0;
    border: 2px solid #E2E8F0;
    border-bottom: none;
  }
}

.day-menu-item {
  user-select: none;
  cursor: grab;
  display: inline-block;

  &.is-dragging {
    border: 1px dashed black;
    padding: 0.1em;
  }
}

.search-result {
  padding: 0.5em;
  cursor: pointer;
  padding-left: 1.5em;
  font-style:italic;

  &.active {
    padding-left: 2em;
    background-color: #f5f5f5;
  }
}

.shopping-list {
  input {
    width: 3em;
    border: 1px solid lightgray;
  }

  p {
    margin-top: 0.5em;
  }
}

.menu-recipe {
  padding: 1rem 0 1rem 0;
  float: left;
  width: 50%;
  list-style: none;
  margin: 0;

  @media (min-width: 40em) {
    width: 30%;
  }
}

.strike-through {
  text-decoration: line-through;
}

.grayed {
  color: #A0AEC0;
}

.date-range-initiator {
  cursor: pointer;
}

.picker-day {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border: 1px solid #EDF2F7;
  text-align: center;
  cursor: pointer;

  &.in-range {
    background-color: #E2E8F0;
  }
}

/* todo: fix me with chakra global styles */

a {
  text-decoration: underline!important;
}

h3 {
  margin-top: 1em!important;
}

p {
  margin-bottom: 1em!important;
}