html, body, #root {
  height: 100%;
  background-color: #f5f5f5;
}

.clearer {
  clear: both;
}

.action-item {  
  font-size: 1.5em;
  height: 2em;
  width: 2em;

  @media (max-width: 40em) {
    display: block;
    margin-bottom: 0.5em;
    position: relative;
    background-color: white;
    border-radius: 3em;
    box-shadow: 1px 1px 3px #b3b3b3;
    align-content: center;
    justify-content: center;

    svg {
      align-self: center;
    }

    &:hover,
    &:focus {
      background-color: #E2E8F0;
    }
  }

  @media (min-width: 40em) {
    width: 2em;
  }
}

.top-header {
  background-color: white;
  box-shadow: 1px 1px 3px #b3b3b3;
  padding: 0.5em;
  z-index: 100;
  position: relative;
}

.headers-side-icons {
  position: absolute;
  right: 1em;
}

li {
  margin-left: 1.2em;
}

.strike-through {
  text-decoration: line-through;
}

.date-range-initiator {
  cursor: pointer;
}

/* todo: fix me with chakra global styles */

a {
  text-decoration: underline!important;
}

h1 a {
  text-decoration: initial!important;
  &:focus{
      border: 1px solid #CBD5E0;
  }
}

h2 {
  font-size: 1.4em!important;
  margin-bottom: 0.5em!important;
}

h3 {
  font-size: 1.2em!important;
  font-weight: bold;
}

p {
  margin-bottom: 1em!important;
}